[submodule "external/ActionBarSherlock"]
	path = external/ActionBarSherlock
	url = git://github.com/JakeWharton/ActionBarSherlock.git
[submodule "external/ViewPagerIndicator"]
	path = external/ViewPagerIndicator
	url = git://github.com/JakeWharton/Android-ViewPagerIndicator.git
[submodule "external/android-mapviewballoons"]
	path = external/android-mapviewballoons
	url = git://github.com/jgilfelt/android-mapviewballoons.git
