<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.perdue.perdue"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_GPS" />
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WhereToUse"
            android:label="@string/title_activity_where_to_use" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="WhereToUse" />
        </activity>
    </application>

</manifest>