<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.wm.perdue"
    android:versionCode="1"
    android:versionName="1.0">
	
	
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_GPS" />
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        <activity
            android:name=".MainActivity"
            android:label="@string/main_activity_title" >
       		<intent-filter>
                <action   android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="TEST" >
       		<intent-filter>
                <action   android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EsercentiListActivity"
            android:label="" >
        </activity>
        <activity
            android:name=".NotiziaActivity"
            android:label="" >
        </activity>
    </application>

</manifest>